name: PR Checks

# Run checks that ensure code quality of pull requests

on:
  workflow_dispatch:
  pull_request:

jobs:
  check:
    name: Check Lua
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Cargo Binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install Selene
        run: cargo binstall --no-confirm --locked selene

      - name: Check Lua with Selene
        run: selene --exclude 'ItemVersion/Libs/**/*.lua' ItemVersion
