name: Release

# On release branch, this action:
# - updates the interface versions in the .toc file, commits if needed
# - bumps the version (with commit and tag)
# - runs big wigs release.sh script (which creates the GitHub release and uploads to CurseForge)
# - merges the release branch back into master
#
# This workflow doesn't run on its own -- its called by other workflows that
# have put something releaseable on release branch (refresh-data.yml or
# merge-master.yml)
#
# This workflow requires a secret `CURSEFORGE_TOKEN` to be set up in the
# repository. This can be created at
# <https://legacy.curseforge.com/account/api-tokens>.

on:
  workflow_call:
    inputs:
      release-type:
        type: string
        required: true
        default: "release"

jobs:
  release:
    name: Release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Release info
        run: |
          echo "::notice title=Release type::${{ inputs.release-type }}"

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: release
          fetch-depth: 0 # ensure git knows about shared history between release and master

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install support tooling
        run: |
          # nextver bumps our versions
          uv tool install bump-my-version

          # wownow gets the current wow versions
          uv tool install git+https://github.com/t-mart/wownowpy

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Update Interface versions
        run: |
          NEW_INTERFACES=$(wownow | jq -r '[.products[] | .versions[] | select(.region == "us") | .interface] | join(", ")')
          sed -i "s/^## Interface:.*/## Interface: ${NEW_INTERFACES}/" ItemVersion/ItemVersion.toc

          if [[ -n $(git status --porcelain ItemVersion/ItemVersion.toc) ]]; then
            echo "Updated interface versions to ${NEW_INTERFACES}, committing changes."
            git add ItemVersion/ItemVersion.toc
            git commit -m "Updated interfaces to ${NEW_INTERFACES}"
          else
            echo "Interface versions are up to date. No commit needed."
          fi

      - name: (Release) Bump (with commit and tag) and push
        if: ${{ inputs.release-type == 'release' }}
        run: |
          bump-my-version bump patch
          VERSION=$(bump-my-version show --format json | jq -r ".current_version")

          PACKAGER_ARGS="-n ItemVersion-${VERSION}"
          echo "PACKAGER_ARGS=$PACKAGER_ARGS" >> $GITHUB_ENV

      - # big wigs packager only allows an alpha or beta release to CF if the tag
        # contains the word "alpha" or "beta". because we use calver and because
        # bump-my-version doesn't work well for this kind of optional tag,
        # we create a completely out-of-band tag that has nothing to do
        # with any particular version.
        name: (Alpha/Beta) Tag
        if:
          ${{ inputs.release-type == 'alpha' || inputs.release-type == 'beta' }}
        run: |
          RELEASE_TYPE="${{ inputs.release-type }}"
          SHORT_SHA=$(git rev-parse --short HEAD)
          TIMESTAMP=$(date +%s)
          TAG_NAME="${RELEASE_TYPE}-${SHORT_SHA}-${TIMESTAMP}"

          echo "Creating tag: ${TAG_NAME}"
          git tag -a "${TAG_NAME}" -m "${RELEASE_TYPE} release"

          PACKAGER_ARGS="-n ItemVersion-${TAG_NAME}"
          echo "PACKAGER_ARGS=$PACKAGER_ARGS" >> $GITHUB_ENV

      - name: (No release) Skip bumping version and pushing
        if: ${{ inputs.release-type == 'none' }}
        run: |
          PACKAGER_ARGS="-d"
          echo "PACKAGER_ARGS=$PACKAGER_ARGS" >> $GITHUB_ENV

      - name: Git Push
        run: git push --follow-tags

      - uses: BigWigsMods/packager@v2
        with:
          args: ${{ env.PACKAGER_ARGS }}
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
          CF_API_KEY: ${{ secrets.CURSEFORGE_TOKEN }}

      - name: Upload release artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ItemVersion
          path: .release/ItemVersion

      - name: Merge back into master
        run: |
          git checkout master
          git merge release
          git push origin master
