name: Release

# On release branch:
# 1. Add a version bump commit
# 2. Tag it
# 3. wap build/publish the addon
# 4. Make a GH release (with the addon file)
# 5. Merge it back to master branch (so that the two branches stay in sync)
#
# This workflow doesn't run on its own -- its called by other workflows that
# have put something releaseable on release branch (refresh-data.yml or
# merge-master.yml)
#
# This workflow requires a secret `CURSEFORGE_TOKEN` to be set up in the
# repository. This can be created at
# <https://legacy.curseforge.com/account/api-tokens>.

on:
  workflow_call:
    inputs:
      release-type:
        type: string
        required: true
        default: "release"

jobs:
  release:
    name: Release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Release info
        run: |
          echo "::notice title=Release type::${{ inputs.release-type }}"

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: release
          fetch-depth: 0 # ensure git knows about shared history between release and master

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install support tooling
        run: |
          # nextver bumps our versions
          uv tool install bump-my-version

          # wownow gets the current wow versions
          uv tool install git+https://github.com/t-mart/wownowpy

      - name: Configure Git
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Update Interface versions
        run: |
          NEW_INTERFACES=$(wownow | jq -r '[.products[] | .versions[] | select(.region == "us") | .interface] | join(", ")')
          sed -i "s/^## Interface:.*/## Interface: ${NEW_INTERFACES}/" ItemVersion/ItemVersion.toc

          if [[ -n $(git status --porcelain ItemVersion/ItemVersion.toc) ]]; then
            echo "Updated interface versions to ${NEW_INTERFACES}, committing changes."
            git add ItemVersion/ItemVersion.toc
            git commit -m "Updated interfaces to ${NEW_INTERFACES}"
          else
            echo "Interface versions are up to date. No commit needed."
          fi

      - name: Bump (with commit and tag)
        run: |
          bump-my-version --part patch --tag --push origin release
        env:
          NEXT_VERSION: "${{ steps.next-version.outputs.version }}"

      - name: wap
        uses: t-mart/wap-action@master
        with:
          release-type: ${{ inputs.release-type }}
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

      - name: GH Release
        if: ${{ inputs.release-type != 'none' }}
        env:
          GH_TOKEN: ${{ github.token }}
          NEXT_VERSION: "${{ steps.next-version.outputs.version }}"
        run: |
          gh release create --generate-notes "${NEXT_VERSION}" dist/*.zip

      - name: Merge back into master
        run: |
          git checkout master
          git merge release
          git push origin master
